.fac {
  display      : inline-block;
}
.position-top-left {
  content: url('../icons/position-top-left.svg');
}
.position-top-right {
  content: url('../icons/position-top-right.svg');
}
.position-bottom-left {
  content: url('../icons/position-bottom-left.svg');
}
.position-bottom-right {
  content: url('../icons/position-bottom-right.svg');
}
.position-top {
  content: url('../icons/position-top.svg');
}
.position-right {
  content: url('../icons/position-right.svg');
}
.position-bottom {
  content: url('../icons/position-bottom.svg');
}
.position-left {
  content: url('../icons/position-left.svg');
}
.mask-edge {
  content: url('../icons/mask-edge.svg');
}
.mask-corner {
  content: url('../icons/mask-corner.svg');
}
.mask-center {
  content: url('../icons/mask-center.svg');
}
.fa-file-c {
  content: url('../icons/fa-file-c.svg');
}
.book-front-cover {
  content: url('../icons/book-front-cover.svg');
}
.book-inside-cover {
  content: url('../icons/book-inside-cover.svg');
}
.davek {
  content: url('../icons/Davek.svg');
}
.rellanic {
  content: url('../icons/Rellanic.svg');
}
.iokharic {
  content: url('../icons/Iokharic.svg');
}
